.demo-table {
    width: 100%;
  }

  .mat-row .mat-cell {
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    background-color: #999999;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }

  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 93%;
  }

  .mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
  }